body {
	padding-top: 10px;
}

#navbar {
	/*background-color: #7d8ca6;*/
	/*color: #fff;*/
}
.navbar-header img.logo {
	height:50px;
}
.navbar-brand {
	padding-left: 0px;
}

.home-main {
	background: transparent;
	position: relative;
}

.home-main .main-logo {
	width: 100%;
	max-width: 600px;
	margin: 5px 0px 25px 0px;
}

.home-main .img-circle {
	margin-bottom: 25px;
}

#images-right {
	text-align: center;
}
#images-right img {
	margin-bottom: 5px;
}

.image-row {
	padding-bottom: 10px;
}
.jumbotron .attribution {
	color: #000;
	font-size: .50em;
	position: absolute;
	bottom: 0px;
	right: 5px;
}
