body {
	padding-top: 10px;
}

#navbar {
	/*background-color: #7d8ca6;*/
	/*color: #fff;*/
}
.navbar-header img.logo {
	height:50px;
}
.navbar-brand {
	padding-left: 0px;
}

.jumbotron {
	position: relative;
	background: url('/images/cassia-courthouse-50.jpg') no-repeat top left;
}

#images-right {
	text-align: center;
}
#images-right img {
	margin-bottom: 5px;
}

.image-row {
	padding-bottom: 10px;
}
.jumbotron .attribution {
	color: #000;
	font-size: .50em;
	position: absolute;
	bottom: 0px;
	right: 5px;
}
